body {
    margin: 0;
    width: 100 vw;
}

body section {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#letsHelp {
    background-image: linear-gradient(rgba(10, 10, 10, 0.363), rgb(0, 0, 0)), url(images/donation2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    text-align: center;
    padding-top: 150px;
}


.heading {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 0;
}

.heading_small {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0;
}

.link {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    background-color: rgb(192, 56, 56);
    border-radius: 5px;
}

.Donate_Amount {
    text-align: center;
    margin: 100px 150px 35px;
}


.content {
    color: grey;
    font-size: 16px;
}

.tk_amount {
    display: flex;
    padding-left: 300px;
}

.tk_amount h1 {
    padding: 30px 20px;
    font-size: 30px;
    font-weight: 700px;
    color: rgb(75, 73, 73);
    margin: 10px;
    background-color: rgba(151, 148, 148, 0.13);
    border-radius: 5px;
}

#selected_amount {
    border: 2.5px solid rgb(236, 95, 95);
    margin: 10px;
    background-color: rgba(223, 174, 182, 0.596);
    border-radius: 5px;
    color: rgb(236, 95, 95);
}

.donation_submit {
    text-align: center;
    padding: 50px 0px;
    font-weight: 300px;
    color: rgb(194, 189, 189);
}

#hr {
    width: 80%;
    height: 1px;
    border: none;
    background-color: rgb(206, 202, 202);
    margin-bottom: 40px;
}

.donationPlan {
    text-align: center;
    padding: 50px;
}

.donationPlan_flexBox {
    display: flex;
    text-align: left;
    padding: 2px 130px;
}

.food {
    width: 30%;
    padding: 40px 20px;
    margin: 10px;
    background-color: rgba(196, 255, 255, 0.349);
}

.family {
    width: 30%;
    padding: 40px 20px;
    margin: 10px;
    background-color: rgba(231, 179, 218, 0.274);
}

.education {
    width: 30%;
    padding: 40px 20px;
    margin: 10px;
    background-color: rgba(255, 207, 149, 0.315);
}

.donate_history {
    padding: 50px;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
}

.history1 {
    display: flex;
    padding: 3% 0%;
}

.history_content {
    width: 50%;
    text-align: left;
}

.history_content p {
    padding-right: 20%;
    font-size: 18px;
}

.update {
    padding: 2% 20%;
    margin-bottom: 8%;
}

.update-content {
    text-align: center;
    padding: 0% 15%;
}

.email {
    padding: 1.5%;
    width: 35%;
    border: none;
    background-color: rgb(204, 203, 203);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.subscribe {
    display: flex;
    padding-left: 25%;
    padding-top: 8%;
}

#subscribe {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-color: rgb(192, 56, 56);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.subscribeBox {
    height: 180px;
    background-color: rgba(255, 228, 196, 0.555);
}

footer div {
    background-color: rgb(32, 38, 41);
    text-align: center;
    color: white;
    height: 25vh;
}

footer h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(192, 56, 56);
    padding-top: 50px;
    margin-bottom: 0;
}

footer p {
    font-size: 15px;
}